absl-py==2.5.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
anyio==4.15.1
asttokens==3.0.2
async-timeout==5.0.1
attrs==26.1.0
casadi==3.7.2
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
contourpy==1.3.2
cycler==0.12.1
cyclonedds==0.10.2
datasets==3.3.0
decorator==5.3.1
dill==0.3.8
dm-env==1.6
dm-tree==0.1.10
docstring_parser==0.18.0
draccus==0.11.6
etils==1.13.0
exceptiongroup==1.3.1
executing==2.2.1
filelock==4.0.8
fonttools==4.65.0
frozenlist==1.8.0
fsspec==2024.12.0
glfw==2.10.2
h11==0.16.0
hf-xet==1.6.0
httpcore2==2.13.1
httpx2==2.13.1
huggingface_hub==2.1.1
idna==3.20
importlib_resources==7.1.0
ipython==8.39.0
jedi==0.20.0
Jinja2==3.1.6
kiwisolver==1.5.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.2
mdurl==0.1.2
mergedeep==1.3.4
meshcat==0.3.2
mpmath==1.3.0
mujoco==3.14.0
multidict==6.9.1
multiprocess==0.70.16
mypy_extensions==1.1.0
networkx==3.4.2
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.3.3
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
pin==4.1.0
prompt_toolkit==3.0.53
propcache==0.5.4
ptyprocess==0.7.0
pure_eval==0.2.4
pyarrow==25.0.1
Pygments==2.21.0
pyngrok==8.1.2
PyOpenGL==3.1.10
pyparsing==3.3.3
pyrealsense2==2.58.4.10922
python-dateutil==2.9.0.post0
pytz==2026.4
PyYAML==6.0.3
pyzmq==27.2.0
requests==2.34.2
rerun-sdk==0.22.1
rich==15.0.0
rich-click==1.9.9
safetensors==0.8.0
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
toml==0.10.2
tomli==2.4.1
tornado==6.5.10
tqdm==4.70.1
traitlets==5.16.1
truststore==0.10.4
typeguard==4.6.0
typing-inspect==0.9.0
typing_extensions==4.16.0
tyro==1.0.16
tzdata==2026.4
u-msgpack-python==2.8.0
urllib3==2.8.0
wcwidth==0.9.1
websockets==16.1.1
wrapt==2.5.0
xxhash==4.0.1
yarl==1.25.1
zipp==4.1.0
